* {
  margin: 0px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background: linear-gradient(90deg, rgb(90, 134, 216) 0%, rgb(42, 98, 251) 50%, #0801d4 100%);
  margin: 0 3%;
}


nav {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-img {
  width: 160px;
}

.searchbar-container {
  display: flex;
  margin: 0px auto;
  padding: 0 20px;
  align-items: center;
}

.searchbar {
  background-color: #fff;
  margin-right: 20px;
  border-radius: 10px;
}

.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px (0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  background-color: #ffffffc1;

}

.searchbar-btn button {
  background-color: #ce0000;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
  transition: 0.5s;
}

.searchbar-btn :hover {
  background-color: #e40000;
}

.searchbar-btn :active {
  position: relative;
  top: 1px;
}

.pokemon-heart-btn {
  border-radius: 25%;
}

.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 33.3% auto 33.3%;
}

@media(max-width: 768px) {
  .pokedex-grid {
    display: grid;
    gap: 1px;
    grid-template-columns: 100%;

  }
}

.pokemon-card {
  display: flex;
  background: linear-gradient(90deg, rgb(189, 143, 143) 0%, rgb(251, 42, 42) 50%, #ce0000 100%);
  color: #000000;
  border-style:solid;
  border-color:#000000;
  border-radius: 10px;
}

.pokemon-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.pokemon-image-container {
  padding: 0px 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
}


.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.card-top h3 {
  text-transform: capitalize;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.pagination-container {
  display: flex;
  text-transform: capitalize;
  align-items: center;
}

.pagination-container button {
  background-color: #ce0000;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 2px 0px #000000;
  transition: 0.5s;
}

.pagination-container-left:hover {
  background-color: #e40000;
}

.pagination-container-left:active {
  position: relative;
  top: 1px;
}


.pagination-container-right:hover {
  background-color: #e40000;
  transition: 1;
}

.pagination-container-right:active {
  position: relative;
  top: 1px;
}

.pagination-container-numbers {
  padding: 5px;
}



.favorites-numb {
  font-weight: bold;
  display: flex;
  margin: 0px auto;
  padding: 0 20px;
  align-items: center;
}

.not-found-text {
  font-weight: bold;
  display: flex;
  margin: 0px auto;
  padding: 1.5%;
  align-items: center;
}

.App {
  display: flex;
  align-items: right;
}

