 /* PALETA DE CORES PRINCIPAIS
#fe4294 btn
#E43681
#C1306F 
#000000 texto
#5269DD fundo
#517B9D 
 */

* {
  margin: 0px;
}

body {
  background: #5269DD;
  color: #000000;
}

nav {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-img {
  width: 160px;
}

.searchbar-container {
  display: flex;
  margin: 0px auto;
  padding: 0 20px;
  align-items: center;
}

.searchbar {
  background-color: #fff;
  margin-right: 20px;

}

.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px (0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.searchbar-btn button {
  background-color: #6C193D;
  border: none;
  border-radius: 10px;
  height: 44px;
  color: #fff;
  padding: 10px 12px;
}

.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3. 1fr);
}

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px (0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.pokemon-image-container {
  padding: 0px 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10px 10px 0px;
  flex: 1;
}


.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.card-top h3 {
  text-transform: capitalize;
}



.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
}





.App {
  text-align: center;
}